{% extends 'core/base.html' %}

{% block title %}{{ post.title }} | {% endblock %}

{% block content %}
<!-- <h1>{{ post.title }}</h1> -->

<section class="hero">
    <div class="hero-body">
        <div class="container">
            <section class="section">
                <div class="columns">
                    <div class="column is-8 is-offset-2">
                        <div class="content is-medium">
                            <!-- <p class="subtitle-is-4">{{ post.created_at|date:'M-d-Y H:i' }}</p> -->
                            <p class="subtitle-is-4">{{ post.created_at|date:'M d, Y' }}</p>
                            <!-- <p class="subtitle-is-4">{{ post.created_at|timesince }} ago</p> -->
                            <h1 class="title">{{ post.title }}</h1>
                            <p><strong>{{ post.intro }}</strong></p>

                            <p>{{ post.body }}</p>
                        </div>
                    </div>
                </div>
            </section>
            
        </div>
    </div>
</section>

{% endblock %}